/* GENERAL */

html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 10px;
    background-color: #a9a9a9;
}
  
body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}
  

/* TIPOGRAPHY */

h1{
    flex: 5;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 50px;
}

/* HEADER */

header, nav {
    background-color: rgba(145, 142, 142, 1);
    padding: 1%;
}

header{
    display: flex;
    flex-flow: row wrap;
}

nav {
    height: 50px;
    flex: 70%;
    display: flex;
}
  
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    font-size: 30px;
}
  
nav li {
    display: inline;
    text-align: center;
    flex: 1;
}
  
nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 0.5;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: black;
  
}

/* MAIN */

main{
    background-color:rgba(217, 217, 217, 1); 
    padding: 1%;
    position: relative;
}

.imagen-container {
    position: relative;
    width: 100%;
}

.imagen-container img {
    width: 100%;
    height: auto; 
}

.imagen-container .texto-imagen {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 100px;
    bottom: 200px;
    height: 200px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(11, 61, 108, 0.479);
    width: 800px; /* Ajusta el ancho del texto según sea necesario */
    font-size: 25px;
}


.imagen-container .texto2-imagen{
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    width: 450px; /* Ancho del nuevo rectángulo */
    background-color: rgba(255, 255, 255, 0.786); /* Color del nuevo rectángulo */
    font-size: 25px;
    text-align: center;
}


article{
    text-align: left;
    background-color: white;
    padding: 1%;
    font-size: 30px;
}

.Titulo2{
    text-align: center;
}